<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Make a Reservation</h2>
                <p class="lead">Join Chef Peden for an excellent dining experience.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <h2>Booking Successful</h2>
              <p>We look forward to seeing you</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
